<section>
<h1 class="text-center">
	New article form
</h1>

	
	<%= form_for @article, url: {action: "create"} do |f| %>
		<%if @article.errors.any?%>
			
			<ul>
				<li>You have <%=pluralize(@article.errors.count, "error")%></li>
				<%@article.errors.full_messages.each do |err|%>
					<li class="error"><%= err %></li>
				<%end%>
			</ul>
		<%end%>
		<%= f.label :title %>
			<%= f.text_field :title %> <br>
			<%= f.label :body %>
		  <%= f.text_field :body, size: "60x12" %><br>
		  <%= f.submit "Create Article" %>
	<% end %>
</section>	
	
