<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  
	  <%flash.each do |key, msg|%>
	  	<p><%=msg%></p>
	  <%end%>
	  
	  <nav class="nav">
	  	<a><%=link_to "Home", "#"%></a>
	  	<a><%=link_to "About", "#"%></a>
	  	<a><%=link_to "Services", "#"%></a>
		  <%unless signed_in?%>
	  	
	  	<a><%=link_to "Log in", new_user_session_path%></a>
	  	<a><%=link_to "Sign up", new_user_registration_path%></a>
		  
		  <%else%>
			<a><%=link_to "Blog", articles_path%></a>
			<a><%=link_to "My settings", "#"%></a>
		  <a><%=link_to "Sign out", destroy_user_session_path%></a>
		  <%end%>
			  
	  </nav>
		  
		  
    <%= yield %>
		  
  </body>
</html>
